force-app/main/default/flows/FS_EncuestasAutomatizadas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EnviarNotificacion</name>
        <label>Enviar notificación</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Obtener_OWD_email.Address</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <stringValue>{!$Record.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Contacto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>ObtenerPlantillaCorreo.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>diaValido</name>
        <label>Dia de la semana</label>
        <locationX>380</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>es_valido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>dayInWeek</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.InviteExpiryDateTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>FechaHoy</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Id_del_contacto</targetReference>
            </connector>
            <label>es valido?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Id_del_contacto</name>
        <label>Id del contacto</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>Falso</defaultConnectorLabel>
        <rules>
            <name>Verdadero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contacto</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EnviarNotificacion</targetReference>
            </connector>
            <label>Verdadero</label>
        </rules>
    </decisions>
    <description>Flujo automatizado para el envío de encuestas no contestadas.</description>
    <environments>Default</environments>
    <formulas>
        <description>devuelve true si el dia de la semana es Miercoles o Viernes de lo contrario devuelve false.</description>
        <name>dayInWeek</name>
        <dataType>Boolean</dataType>
        <expression>IF(
OR(
WEEKDAY(TODAY()) = 2,
WEEKDAY(TODAY()) = 3,
WEEKDAY(TODAY()) = 4,
WEEKDAY(TODAY()) = 5,
WEEKDAY(TODAY()) = 6 ), 
true, false)</expression>
    </formulas>
    <formulas>
        <name>FechaHoy</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Encuestas Automatizadas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Encuestas Automatizadas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_OWD_email</name>
        <label>Obtener OWD email</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>diaValido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DisplayName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OWDEmailAddress</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtener la plantilla de Correo Electrónico de  &quot;Plantilla de Encuesta FISA (Contacto)&quot;</description>
        <name>ObtenerPlantillaCorreo</name>
        <label>Obtener Plantilla Correo</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_OWD_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NombrePlantilla</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObtenerPlantillaCorreo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ResponseStatus</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>SurveyInvitation</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-28</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Contacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.ContactId</elementReference>
        </value>
    </variables>
    <variables>
        <name>NombrePlantilla</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Plantilla_de_Encuesta_FISA_Contacto_1720192902846</stringValue>
        </value>
    </variables>
    <variables>
        <name>OWDEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>smfisahelpdesk@fisagrp.com</stringValue>
        </value>
    </variables>
</Flow>
